.lim-exp {
    color: darkgreen;
}

.spe-exp {
    color: darkred;
}

.airport-spe {
    color: darkblue
}

.airport-lim {
    color: darkgoldenrod;
}

#info-overlay {
    position: fixed;
    display: none;
    height: fit-content;
    max-height: 98%;
    overflow-y: auto;
    top: 0;
    right: 0;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgba(0,0,0,0.9);
    color: white;
    text-align: center;
    box-shadow: 5px 5px 5px 5px black;;
}

#info-overlay td {
    text-align: center;
}

#info-table {
    color: white;
    width: 100%;
}

#data {
    display: table;
    border-collapse: collapse;
}

@media (min-width:480px)  {
    #data {
        width: 100%;
    }
    #info-overlay {
        width: 100%;
    }
}

@media (min-width:801px) {
    #data {
        width: 80%;
    }
    #info-overlay {
        width: 18%;
    }
}

#data td {
    border-bottom: 1px solid black;
    padding: 5px;
}

.spe-station {
    font-weight: bold;
    color: darkgreen;
}
