("泉岳寺駅" "品川駅" "北品川駅" "新馬場駅" "青物横丁駅" "鮫洲駅" "立会川駅" "大森海岸駅" "平和島駅" "大森町駅" "梅屋敷駅(東京)" "京急蒲田駅" "雑色駅" "六郷土手駅" "京急川崎駅" "八丁畷駅" "鶴見市場駅" "京急鶴見駅" "花月総持寺駅" "生麦駅" "京急新子安駅" "子安駅" "神奈川新町駅" "京急東神奈川駅" "神奈川駅" "横浜駅" "戸部駅" "日ノ出町駅" "黄金町駅" "南太田駅" "井土ケ谷駅" "弘明寺駅(京急)" "上大岡駅" "屏風浦駅" "杉田駅(神奈川)" "京急富岡駅" "能見台駅" "金沢文庫駅" "金沢八景駅" "追浜駅" "京急田浦駅" "安針塚駅" "逸見駅" "汐入駅" "横須賀中央駅" "県立大学駅" "堀ノ内駅" "京急大津駅" "馬堀海岸駅" "浦賀駅" "堀ノ内駅" "新大津駅" "北久里浜駅" "京急久里浜駅" "ＹＲＰ野比駅" "京急長沢駅" "津久井浜駅" "三浦海岸駅" "三崎口駅")